{% extends "accounts/main.html" %}
{% load static %}
{% block content %}


<link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
<link href="{% static "table/buttons.bootstrap4.min.css" %}" rel="stylesheet">
<link href="{% static "table/dataTables.bootstrap4.min.css" %}" rel="stylesheet">
<link href="{% static "table/responsive.bootstrap4.min.css" %}" rel="stylesheet">
<script src="{% static "table/js/jquery-3.3.1.js" %}"></script>



<div class="row container-fluid">
    <div class="col-lg-3"> </div>
    <div class="col-lg-6"> 
        <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded box-shadow" style = "background-color: purple;">
            <h6 class="text-white">File Ingestion</h6>
        </div>
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="exampleFormControlFile1">Example file input</label>
                <input type="file" class="form-control-file" id="exampleFormControlFile1" name="ingestion_file">
              </div>
            <div class="form-group">
              <label for="exampleFormControlSelect1">Select Index</label>
              <select class="form-control" id="exampleFormControlSelect1"  name = "SelectIndex">
                <option>Data Lake</option>
                <option>Data Lake TA</option>
                <option>Compendium</option>
                <option>TPI</option>
              </select>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </div>
    <div class="col-lg-3"> </div>
</div>


<!--Display File-->

<div class="row" style="margin-top: 50px ;"></div>
<div class="row container-fluid">
    <div class="col-lg-3"> </div>

  <div class="col-md-6 mb-4">
    

    <table id="example" class="table table-striped table-bordered nowrap display" style="width:100%">
      <thead>
          <tr>
            <th>Name</th>
            <th>Type</th>
          </tr>
      </thead>
      <tbody>
        <tr>
          <td>name</td>
          <td>type</td>
        </tr>
      </tbody>
    </table>



</div>
</div>

<script src="{% static "table/js/jquery.dataTables.min.js" %}"></script>
<script src="{% static "table/js/dataTables.bootstrap4.min.js" %}"></script>
<script src="{% static "table/js/dataTables.buttons.min.js" %}"></script>
<script src="{% static "table/js/buttons.bootstrap4.min.js" %}"></script>
<script src="{% static "table/js/jszip.min.js" %}"></script>
<script src="{% static "table/js/pdfmake.min.js" %}"></script>
<script src="{% static "table/js/vfs_fonts.js" %}"></script>
<script src="{% static "table/js/buttons.html5.min.js" %}"></script>
<script src="{% static "table/js/buttons.print.min.js" %}"></script>
<script src="{% static "table/js/buttons.colVis.min.js" %}"></script>
<script src="{% static "table/js/dataTables.responsive.min.js" %}"></script>
<script src="{% static "table/js/responsive.bootstrap4.min.js" %}"></script>


<script>


$(document).ready(function() {
  var table = $('#example').DataTable( {
  
        "processing": true,
        "ajax": {
          "url": "{% url 'fileserver' %}",
          "dataSrc": "children",
        },
        "columns": [           
            { "data": "name" , 
                "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                 $(nTd).html("<a href='{% url 'download' %}?q="+oData.name+"'>"+oData.name+"</a>");
                }},
            { "data": "type" },
        ],       
    } );
} );

</script>



{% include "accounts/ajaxservice.html" %}

{% endblock content %}
