{% load static %}
<link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">

<style>
  body {
    background-image: -webkit-gradient(linear, left bottom, left top, from(#1e3c72), color-stop(1%, #1e3c72), to(#2a5298));
    background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
    -webkit-tap-highlight-color: transparent;
  }

  .vl {
  border-left: 2px dashed whitesmoke;
  height: 300px;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: -150px;
}
</style>


<div class="container" >
  <div class="row"> {% include 'navmenu.html' %} </div>
  <form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row"> 
      <div class="col-sm-6">
        <div style="margin-top: 100px;">
          <div class="form-group shadow-textarea">
            <textarea class="form-control z-depth-1" id="exampleFormControlTextarea6" rows="22" placeholder="Enter IP one per line....." name = "multiquery" ></textarea>
          </div>
        </div>
      </div>
      <div class="col-sm-3 align-self-center" style="margin-top: 100px;">  
        <!--span style="font-size: large;font-weight: bold; color: aliceblue; "> or </span-->
        <div class="vl"></div>
      </div> 
      <div class="col-sm-3 align-self-center" style="margin-top: 100px;">
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="customFile" accept="text/plain" name="file_data">
          <label class="custom-file-label" for="customFile">Choose file</label>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12" align="center" style="margin-top: 50px;margin-left: 100px;">
      <button type="submit" class="btn btn-info" >Get Information</button>
      </div>
    </div>
  </form>
</div>